.authContaner{
    width: 50%;
    padding: 30px 0;
    margin: 70px auto;
    border-radius: 20px;
    -webkit-box-shadow: 0px 8px 23px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 8px 23px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 8px 23px 1px rgba(34, 60, 80, 0.2);
    text-align: center;
    background-color: #fafafa;
}

.formWrapper{
    width: 60%;
    margin: 20px auto 0 auto;
}

.input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid lightgray;
    background-color: #fafafa;
    font-size: 18px;
    outline: none;
    transition: .5s ease all;
}

.input:focus{
    transform: scale(105%, 105%);
    border-bottom: 2px solid #000;
}

.button{
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #fafafa;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .5s ease all;
}

.imageLabel{
    display: block;
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #fafafa;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .5s ease all;
    margin-bottom: 15px;
}

.unvis{
    display: none;
}

.button:hover{
    background-color: #000;
    color: #fafafa;
}