.categoriesContainer{
    width: 70%;
    margin: 0 auto 20px auto;
    border-radius: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
}

.line{
    width: 40px;
    height: 2px;
    background-color: #000;
    border-radius: 50px;
    margin: 30px auto 0 auto;
    cursor: pointer;
}