.basketContainer{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.budget{
    width: 17px;
    height: 15px;
    background-color: red;
    position: absolute;
    top: -5px;
    right: -5px;
    border-radius: 50px;
    color: #fafafa;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}