.input{
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 2px solid lightgray; 
    background-color: #fafafa;
    font-size: 18px;
    outline: none;
    transition: .5s ease all;
}