.productsContainer{
    width: 100%;
    padding: 30px 0;
}

.linkContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categoryContainer{
    flex: 1;
    text-align: left;
    font-size: 20px;
}

.addProductContainer{
    flex: 1;
    text-align: right;
}