.companyContaner{
    padding: 30px 0;
    border-radius: 20px;
    -webkit-box-shadow: 0px 8px 23px 1px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 8px 23px 1px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 8px 23px 1px rgba(34, 60, 80, 0.2);
    text-align: center;
    background-color: #fafafa;
}

.formWrapper{
    width: 60%;
    margin: 20px auto 0 auto;
}
