.imageLabel{
    display: block;
    padding: 10px 50px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #fafafa;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: .5s ease all;
    margin-bottom: 15px;
}

.unvis{
    display: none;
}

.error{
    color: red;
    font-size: 16px;
    margin: 0 0 20px 0;
}